{% extends 'bootstrap/base.html'%}

<!-- Navbar block  -->
{% block navbar %}
{% include 'navbar.html' %}
{%block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/css?family=Cute+Font|Indie+Flower|Kanit|Raleway|Righteous|ZCOOL+KuaiLe&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">
{{ simplemde.css}}
{{ simplemde.js }}
{% endblock %}
{%endblock%}