{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

<meta charset="utf-8">
{% if title %}
<title> {{ title }}</title>
{% else %}
<title> Pitch </title>
{% endif %}
{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  <h2 style="text-align: center;"><strong><u>WELCOME TO PITCHES.</u></strong></h2><br><br>

  <div class="row" style="margin-bottom: 0%;">
    {% for pitch in pitches %}
    <div class="col-md-4" style=" padding-bottom: 2.5%; text-align: center;">
      <div class="card-body">
        <h2 class="card-text">{{pitch.content}}</h2>
        <h5 class="card-text">Category:{{pitch.category}}</h5>
      </div>
      <a href="/pitch/{{pitch.id}}">comments</a>
    </div>
    {% endfor %}
  </div>




  <br><br>

  {% if current_user.is_authenticated %}
  {{wtf.quick_form(pitch_form)}}
  {%else%}
  {%endif%}

</div>

<style>
  #submit {
    color: black;
  }
</style>
{% endblock %}